<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- Page title-->
<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Variedad de producto</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo se establecen las variedades del producto.</p>

    </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Variedad de producto</h5>
    </div>

    <div class="card-body">
        <div style="max-width: 48rem;">

            <div class="row mb-4">
                <div class="col-md-4" style="padding-right: 0px;">
                    <img [src]="urlBaseImg+product.cover" class="img-thumbnail rounded-0" alt="Square image">
                </div>
                <div class="col-md-8" style="padding-left: 0px;">
                    <div class="card" style="height: 100% !important;">
                        <div class="card-body">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a class="nav-link mb-3" href="#">{{ product.title }}</a>
                                <p class="text-mute">
                                    {{product.description}}
                                </p>
                                <div class="d-flex align-items-center">
                                    <span class="h5 d-inline-block mb-0 text-danger">${{ product.price }}</span>
                                </div>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>



            <div class="form-group row align-items-center">
                <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Nombre de la
                    variedad</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" placeholder="Nombre de la variedad" name="title"
                        [(ngModel)]="product.titleVariety" required>
                </div>
            </div>
            <div class="form-group row align-items-center">

                <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Variedad</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Nueva Variedad" name="new_variety"
                            [(ngModel)]="newVariety">
                        <button class="btn btn-primary" type="button" (click)="addVariety()">Agregar</button>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <div class="table-responsive mt-3">
                        <table class="table table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Título</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <ng-container *ngIf="product.varieties.length > 0">
                                <tbody *ngFor="let item of product.varieties; let index = index">
                                    <tr>
                                        <td>{{ item.title }}</td>
                                        <td>
                                            <a (click)="deleteVariety(index)" style="cursor: pointer;"
                                                class="text-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-container>
                            <ng-container *ngIf="product.varieties.length === 0">
                                <tr>
                                    <td class="text-center" colspan="2">
                                        <span class="text-muted">No exites variedades agregadas</span>
                                    </td>
                                </tr>
                            </ng-container>

                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="card-footer">
        <button *ngIf="!loadData" (click)="updateVariety()" class="btn btn-primary mr-3">Guardar cambios</button>
        <button *ngIf="loadData" class="btn btn-primary mr-3">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </button>
        <button class="btn btn-warning" [routerLink]="['/panel/products']">Regresar</button>
    </div>
</div>