<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo crea un nuevo producto para la tienda.</p>

    </div>
</div>

<form #createForm="ngForm" (ngSubmit)="register(createForm)">

    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Crear nuevo producto</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Titulo de producto</label>
                            <input type="text" class="form-control" placeholder="Titulo de producto" name="title"
                                [(ngModel)]="product.title" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Stock</label>
                            <input type="number" class="form-control" placeholder="Cantidad inicial" name="stock"
                                [(ngModel)]="product.stock" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Precio</label>
                            <input type="number" class="form-control" placeholder="Precio" name="price"
                                [(ngModel)]="product.price" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label for="">Categoría</label>
                            <select class="form-control custom-select" name="category" [(ngModel)]="product.category"
                                required>
                                <option value="" selected disabled>Seleccionar</option>
                                <option *ngFor="let item of config.categories" value="{{item.title}}">{{ item.title }}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-12 form-group">
                            <label for="">Descripción corta</label>
                            <textarea class="form-control" placeholder="Titulo de producto" name="description"
                                [(ngModel)]="product.description" required rows="5"></textarea>
                        </div>

                        <div class="col-lg-12 form-group">
                            <tinymce [config]="configTinymce" name="content" [(ngModel)]="product.content" required>
                            </tinymce>

                            <!-- <textarea class="form-control" name="content" [(ngModel)]="product.content" required
                                rows="15"></textarea> -->
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Portada</label>
                            <div class="custom-file">
                                <input (change)="fileChangeEvent($event)" class="custom-file-input" type="file"
                                    id="file-input">
                                <label style="white-space: nowrap; overflow: hidden" id="nameImage"
                                    class="custom-file-label" for="file-input">Seleccionar
                                    imagen</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <img [src]="imgSelected" class="img-thumbnail" alt="Rounded image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!loadData" type="submit" class="btn btn-primary mr-3">Crear producto</button>
            <!-- Button with border spinner and text -->
            <button *ngIf="loadData" type="button" class="btn btn-primary" disabled>
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                Creando...
            </button>
            <button class="btn btn-warning" [routerLink]="['/panel/products']">Regresar</button>
        </div>
    </div>
</form>