<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Departamentos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los departamentos disponibles.</p>
        <p class="font-size-sm font-weight-medium pl-md-4">
            <a class="text-nowrap" [routerLink]="['/departamentos/crear-departamento']">Crear
                Departamento
                <i class="cxi-angle-right font-size-base align-middle ml-1"></i>
            </a>
        </p>
    </div>
</div>

<div class="card box-shadow-sm">

    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Valor/Día</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="loadData">
                    <tr>
                        <td colspan="7" class="text-center">
                            <!-- Custom size border spinner -->
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <ng-container *ngIf="!loadData">
                    <tbody
                        *ngFor="let item of departamentos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>
                                <h6 style="padding-bottom: 0; margin-bottom: 0;">
                                    {{ item.nombre }}
                                </h6>
                            </td>
                            <td>{{ item.comentarios }}</td>
                            <td>{{ item.valor | currencyMoney }}</td>
                            <td>


                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        OPCIONES
                                    </button>
                                    <div class="dropdown-menu">
                                        <a style="cursor: pointer;"
                                            [routerLink]="['/departamentos/editar-departamento/', item._id]"
                                            class="dropdown-item">Editar</a>
                                        <a style="cursor: pointer;" data-toggle="modal"
                                            [attr.data-target]="'#delete-'+item._id" class="dropdown-item">Eliminar</a>
                                        <div class="dropdown-divider"></div>
                                        <a style="cursor: pointer;"
                                            [routerLink]="['/departamentos/galeria-departamento/', item._id]"
                                            class="dropdown-item">Galería</a>
                                    </div>
                                </div>

                                <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Eliminar: {{item.nombre}}</h4>
                                                <button (click)="closeConfirmModal(item._id)" type="button"
                                                    class="btn btn-danger btn-icon mr-3">
                                                    <i class="large material-icons">close</i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="fs-sm">¿Está seguro que desea eliminar el registro?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button (click)="closeConfirmModal(item._id)"
                                                    class="btn btn-secondary btn-sm" type="button"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button *ngIf="!loadData" (click)="delete(item._id)"
                                                    class="btn btn-primary btn-sm" type="button">Si, eliminar</button>
                                                <button *ngIf="loadData" type="button" class="btn btn-primary" disabled>
                                                    <span class="spinner-border spinner-border-sm me-2" role="status"
                                                        aria-hidden="true"></span>
                                                    Eliminando...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </ng-container>


            </table>

            <h3 *ngIf="departamentos.length === 0">
                No hay registros para mostrar
            </h3>
        </div>
    </div>
    <div class="card-footer">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="departamentos.length">
        </ngb-pagination>
    </div>
</div>